.homeContainer {
    margin-top: 4rem;
}

.flexContainer {
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
}

.flexContainer > *:first-child {
    width: 55%;
}

.flexContainer > *:nth-child(2) {
    width: 30%;
}